* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width: 960px; /* 2 */
}
